<h1 mat-dialog-title>{{ data.character.name}}</h1>
<div mat-dialog-content>
      <img [src]="data.character.image" alt="Character image">
      <h2>ID del personaje: {{data.character.id}}</h2>
      <h2>Lugar: {{data.character.location.name}}</h2>
      <h2>Origen: {{data.character.origin.name }} </h2>
      <h2>Genero: {{data.character.gender }} </h2>
      <h2>Raza: {{data.character.species }} </h2>
      <h2>Subraza: {{data.character.type }} </h2>
      <h2>Episodios los cuales apareció: {{data.character.episode }} </h2>
      <h2>Fecha creación del personaje: {{data.character.created }} </h2>
      <h2>Localización actual: {{data.character.location.name }} </h2>
</div>

